# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pyw
*.pyz
*.pyzw
*.pycachefile

# IDE / Editor
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Compiled files
*.exe
*.dll
*.so
*.dylib

# Miscellaneous
.DS_Store
*.log
*.sqlite3
*.db
*.csv
*.xlsx
*.xls
*.pdf
